*{
    margin: 0px;
}

/*navbar*/
.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: black;
}

.navbar-logo{
    justify-self: start;
    margin-left: 20px;
    color: aliceblue;
    margin-top: 4vh;
    cursor: pointer;
}

.ver-carrito{
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
    
}


/*Banner styles*/
.banner{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)),
    url(../img/electrodomesticos-cocina.jpg);
}


.banner-container {
    text-align: center;
    padding: 15% 0;
}

.banner h1{
margin: 0;
color: white;
text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.2);
font-size: 62px;
font-weight: bold;
}

.banner p{
    font-size: 30px;
    color: aliceblue;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.2);
}

/*
.border{
    border: 1px solid rgb(240, 65, 65);
    margin: 10px;
}
*/

/*product cards*/
.shop-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 40px;
    padding-top: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
    width: 300px;
    height: 470px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rebeccapurple;
    margin-bottom: 18px;
}

.card > img {
    width: 90%;
    height: 250px;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button{
    border: none;
    outline: 0;
    padding: 12px;
    color: aliceblue;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.padding-h3{
    padding: 8px;
    height: 40px;
}

.padding-p{
    height: 58px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 7px;
    color: beige;
}

/*modal content*/
.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*for the top*/
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modal-container::-webkit-scrollbar {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #0a0909;
    color: #fff;
    width: 100%;
}

.modal-header-title {
    justify-self: start;
}

.modal-header-button {
    cursor: pointer;
}

.modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-container > div > img {
    height: 120px;
    width: 120px;
}

.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 28px;
}

/*delete button product*/
.delete-product {
    cursor: pointer;
}

/*CarritoCounter*/
.cantidad-carrito {
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position: absolute;
    display: none;
}

body{
    background-color: rgba(232, 92, 184, 1);
}

.sumar{
    cursor: pointer;
}

.restar{
    cursor: pointer;
}

/*estilos buscador*/
.style-form{
    display: flex;
    justify-content: center;
    align-items: center;

}

#searchInput{
    width: 350px;
    height: 28px;
    border: 1px solid rgb(231, 21, 21);
    border-radius: 10px;
    background-color: rgb(228, 24, 24);
    color: white;
    padding-left: 10px;
    font-family: 'Kotta One', serif;

}

input::placeholder{
    color: white;
    padding-left: 1px;
    font-family: 'Kotta One', serif;
}

.button-styles{
    margin-left: 5px;
    background-color: rgb(222, 19, 19);
    color: white;
    border: 1px solid rgb(224, 9, 9);
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
}

/*Estilos para botones ascendente y descendente*/
.button_OrdenarPrecio{
    display: flex;
    justify-content: center;
    align-items: center;
}
.styles-Ascen-descen{
    border-radius: 8px;
    margin-left: 5px;
    font-family: 'Kotta One', serif;
    color: #d51313;
    cursor: pointer;
}


/*estilos formulario para agregar productos */
.agregar-producto-form {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.agregar-producto-form h2 {
    text-align: center;
    color: #333;
}

.agregar-producto-form form {
    display: grid;
    gap: 15px;
}

.agregar-producto-form label {
    display: block;
    margin-bottom: 5px;
}

.agregar-producto-form input,
.agregar-producto-form textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.agregar-producto-form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.agregar-producto-form button:hover {
    background-color: #45a049;
}

@media (max-width: 480px) {
    body {
        width: 100%;
        height: auto;
    }

    .nav-container {
        width: 100%;
        height: auto;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    
    .navbar-logo {
        margin: 10px 0; 
    }

    .button_OrdenarPrecio {
        width: 100%;
        margin-top: 10px;
    }

    #style-form {
        width: 100%;
        margin-top: 10px; 
    }

    #searchInput {
        width: calc(100% - 20px);
        margin: 0 10px; 
        padding: 8px;
    }

    #searchButton {
        margin: 0 10px; 
    }

    .ver-carrito {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
    }

    .cantidad-carrito {
        background-color: red;
        color: white;
        border-radius: 50%;
        font-size: 12px;
        padding: 4px;
        margin-left: 5px;
        position: relative;
        margin-bottom: 50px;
    }


    /*estilos carrito de compras*/
    .modal-container {
        display: none;
        flex-direction: column;
        align-items: center;
    }
    
    .modal-header {
        width: 100%;
        padding: 10px;
        background-color: #333;
        color: #fff;
        text-align: center;
    }
    
    .modal-header-button {
        cursor: pointer;
        font-size: 20px;
        color: #fff;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    .modal-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .modal-content img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    
    .modal-content h3 {
        margin: 5px 0;
        font-size: 16px;
    }
    
    .modal-content p {
        margin: 5px 0;
        font-size: 14px;
    }
    
    .modal-content .restar,
    .modal-content .sumar {
        cursor: pointer;
        margin: 5px;
        font-size: 16px;
    }
    
    .modal-content .delete-product {
        cursor: pointer;
        font-size: 16px;
        margin-top: 10px;
    }
    
    .total-content {
        font-size: 16px;
        padding: 10px;
        text-align: center;
        margin-top: 10px;
        border-top: 1px solid #ccc;
    }
    }




    @media (max-width: 768px){
        
        body {
            width: 100%;
            height: auto;
        }

        .nav-container {
            width: 100%;
            height: auto;
        }
    
        .navbar {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
        }
    
        
        .navbar-logo {
            margin: 10px 0; 
        }
    
        .button_OrdenarPrecio {
            width: 100%;
            margin-top: 10px;
        }
    
        #style-form {
            width: 100%;
            margin-top: 10px; 
        }
    
        #searchInput {
            width: calc(100% - 20px);
            margin: 0 10px; 
            padding: 8px;
        }
    
        #searchButton {
            margin: 0 10px; 
        }
    
        .ver-carrito {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 10px;
        }
    
        .cantidad-carrito {
            background-color: red;
            color: white;
            border-radius: 50%;
            font-size: 12px;
            padding: 4px;
            margin-left: 5px;
            position: relative;
            margin-bottom: 50px;
        }
    

        /*estilos carrito de compras*/
        .modal-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 10px;
            padding: 10px;
            
        }
    
        .style_img1 {
            width: 150px;  
            height: 150px; 
            margin-bottom: 10px;
            padding: 10px;
        }
    
        .modal-content h3 {
            font-size: 16px;
            margin: 5px 0;
            padding: 5px;
            padding: 5px;
        }
    
        .modal-content p {
            font-size: 14px;
            margin: 5px 0;
            padding: 5px;
        }
    
        .modal-content .restar,
        .modal-content .sumar {
            font-size: 16px;
            margin: 5px;
            cursor: pointer;
        }
    
        .modal-content .delete-product {
            font-size: 16px;
            margin-top: 10px;
            cursor: pointer;
            padding: 10px;
        }
    
        .total-content {
            font-size: 16px;
            padding: 10px;
            margin-top: 10px;
            border-top: 1px solid #ddd;
        }
    }

    @media (max-width: 920px){

        .button_OrdenarPrecio{
            padding-right: 10px;
        }

        .ver-carrito{
            padding-left: 10px;
        }

    /*estilos carrito*/
    .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
        padding: 10px;
        
    }

    .style_img1 {
        width: 150px; 
        height: 150px; 
        margin-bottom: 10px;
        padding: 10px;
    }

    .modal-content h3 {
        font-size: 16px;
        margin: 5px 0;
        padding: 5px;
        padding: 5px;
    }

    .modal-content p {
        font-size: 14px;
        margin: 5px 0;
        padding: 5px;
    }

    .modal-content .restar,
    .modal-content .sumar {
        font-size: 16px;
        margin: 5px;
        cursor: pointer;
    }

    .modal-content .delete-product {
        font-size: 16px;
        margin-top: 10px;
        cursor: pointer;
        padding: 10px;
    }

    .total-content {
        font-size: 16px;
        padding: 10px;
        margin-top: 10px;
        border-top: 1px solid #ddd;
    }
    }

    @media (max-width: 1279px){
                .nav-container{
                    height: auto;
                }
                .navbar{
                    padding-bottom: 20px;
                }
                .button_OrdenarPrecio{
                    padding-right: 10px;
                }

                .ver-carrito{
                    padding-left: 10px;
                }
                /*estilos carrito de compras*/
                .modal-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    margin-bottom: 10px;
                    padding: 10px;
                    
                }
            
                .style_img1 {
                    width: 150px;  
                    height: 150px; 
                    margin-bottom: 10px;
                    padding: 10px;
                }
            
                .modal-content h3 {
                    font-size: 16px;
                    margin: 5px 0;
                    padding: 5px;
                    padding: 5px;
                }
            
                .modal-content p {
                    font-size: 14px;
                    margin: 5px 0;
                    padding: 5px;
                }
            
                .modal-content .restar,
                .modal-content .sumar {
                    font-size: 16px;
                    margin: 5px;
                    cursor: pointer;
                }
            
                .modal-content .delete-product {
                    font-size: 16px;
                    margin-top: 10px;
                    cursor: pointer;
                    padding: 10px;
                }
            
                .total-content {
                    font-size: 16px;
                    padding: 10px;
                    margin-top: 10px;
                    border-top: 1px solid #ddd;
                }
            }